.header {
    height: 48;
    width: 100%;
    background: #faeee7;
    color: white;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navFlex {
    display: flex;
} */

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.cafeName {
    color: #ffbbcc;
    font-size: 30px;
    margin: 0 10px;
}

.hellButton {
    font-family: Lobster;
    font-size: 15px;
    background: #9be3de;
    border: 2px solid #ffbbcc;
    display: block;
    height: 50px;
    margin: 10px;
    padding: 2px 25px;
    text-decoration: none;
    border-radius: 30px;
    line-height: 45px;
    color: #fffdf9;
    cursor: pointer;
}

.dunkelButton {
    font-family: Lobster;
    font-size: 15px;
    background: #5eb7b7;
    border: 2px solid #ffbbcc;
    display: block;
    height: 50px;
    margin: 10px;
    padding: 2px 25px;
    text-decoration: none;
    border-radius: 30px;
    line-height: 45px;
    color: #fffdf9;
    cursor: pointer;
}